.contact-us-container {
  width: 100%;
  height: min-content;
}

.background-image {
  position: relative;
  width: 100%;
}

.background-image img {
  width: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #ffffff;
}

.content-core {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.content-core-div {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
